<div 
  data-application-modal-target 
  id="application-modal-target" 
  class="modal-target"
  ...attributes
  {{did-insert this.setTargetElement}}
  {{will-destroy this.removeTargetElement}}
 >
 </div>
