.modal-container.open .modal-dialog {
  animation: fade-in .5s, drop-in .5s;
}
.modal-container.open .modal-backdrop {
  animation: fade-in-50 .5s;
  animation-fill-mode: forwards;
}
.modal-container.close .modal-dialog {
  animation: fade-out .2s, drop-out .25s;
  animation-fill-mode: forwards;
}
.modal-container.close .modal-backdrop {
  animation: fade-out-50 .5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes fade-out-50 {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes drop-out {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}